MONGODB_URI=your_mongodb_uri
GEMINI_API_KEY=your_gemini_api_key
ACCESS_TOKEN_SECRET=TravelPlanner_Access_Secret_2025_XyZ
REFRESH_TOKEN_SECRET=TravelPlanner_Refresh_Secret_2025_AbC
PORT=4000
FRONTEND_URL=http://localhost:3000
